<body>
    <div class="sidebar">
        <ul>
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/products']">Locates</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
        </ul>
    </div>

    <div class="content">
        <h2> Microbrewery </h2>
        <p> A brewery that produces less than 15,000 barrels of beer per year and sells 75 percent
            or more of its beer off-site. Microbreweries sell to the public by one or more of the 
            following methods: the traditional three-tier system (brewer to wholesaler to retailer to consumer); 
            the two-tier system (brewer acting as wholesaler to retailer to consumer); and directly to the consumer 
            through carry-outs and/or on-site taproom or restaurant sales.</p>
    </div>
    <div class="content">
        <h2> Brewpub </h2>
        <p> A restaurant-brewery that sells 25 percent or more of its beer on-site and operates significant food services. 
            The beer is brewed primarily for sale in the restaurant and bar, and is often dispensed directly from the brewery's storage tanks. 
            Where allowed by law, brewpubs often sell beer to-go and/or distribute to off-site accounts.</p>
    </div>
    <div class="content">
        <h2> Taproom Brewery </h2>
        <p> A professional brewery that sells 25 percent or more of its beer on-site and does not operate significant food services. 
            The beer is brewed primarily for sale in the taproom, and is often dispensed directly from the brewery's storage tanks. 
            Where allowed by law, taproom breweries often sell beer to-go and/or distribute to off-site accounts.</p>
    </div>
    <div class="content">
        <h2> Regional Brewery </h2>
        <p> A brewery with an annual beer production of between 15,000 and 6,000,000 barrels. </p>
    </div>
    <div class="content">
        <h2> Contract Brewing Company </h2>
        <p> A business that hires another brewery to produce its beer. It can also be a brewery that hires another brewery to produce additional beer. 
            The contract brewing company handles marketing, sales, and distribution of its beer, while generally leaving the brewing and packaging to its producer-brewery 
            (which is also sometimes referred to as a contract brewery).</p>
    </div>
    <div class="content">
        <h2> Alternating Proprietor </h2>
        <p> A licensed tenant brewery that physically takes possession of a shared brewery while brewing. In contrast to contract brewers, 
            alternating proprietors are the brewery of record for all of the obligations of a licensed brewery
            , including record keeping, tax payments, and label or formula approval.</p>
    </div>
</body>
