body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    /* text-align: center; */
}

.sidebar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

pre {
    margin-left: 50%;
}

.content {
    margin-left: 16%;
}

.content ul {
    list-style-type: none;
    padding: 0;
}

.content ul li {
    padding: 1px 1px 15px 15px;
    background-color:#575757;
    margin-bottom: 20px;
    font-size: medium;
    border-radius: 20px;
    color: white;
    /* text-align: center; */
}

.btn {
    background-color: #008cba;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #008bbac0;
}

.searchBar {
    margin: 20px 0;
    text-align: center;
}

.searchInput {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.searchInput:focus {
    border-color: #666;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


