body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    /* text-align: center; */
}

.sidebar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.nav {
    position: absolute;
    top: 10px;
    left: 22rem;
}

.nav .info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}

.content {
    position: absolute;
    top: 50px;
    left: 22rem;
}