<body>
<div class="sidebar">
    <ul>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/products']">Locates</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>

    <div class="nav">
        <img src="../assets/img/brewery.jpg" width="700px">
        <div class="info">
            <h2> Craft Beer Industry Market Segments </h2>
            <p>  The Brewers Association defines a craft brewer as a small and independent brewer.
                There are six distinct craft beer industry market segments: microbreweries, brewpubs, taproom breweries, regional breweries, contract brewing companies, and alternating proprietors.
            </p>
        </div>
    </div>
</div>
</body>